.cardProduct{
    width: 19rem;
    margin: 20px;
    height: 33rem;
    justify-content:space-evenly;
}
.cardProducts {
    margin: 15px;
    align-items:flex-end;
    justify-content: center;
}

.itemDetail{
    max-width: 500px;
    margin-top: 20px;
}
